<div class="infobar">
  {{#if title}}
    <div class="infobar-title">
      {{title}}
    </div>
  {{/if}}

  {{#if description_html}}
    <div class="infobar-description">
      {{{description_html}}}
    </div>
  {{/if}}
</div>
