<div class="infobar">
  {{if title}}
    <div class="infobar-title">
      {{title}}
    </div>
  {{/if}}

  {{if description}}
    <div class="infobar-description">
      {{description}}
    </div>
  {{/if}}
</div>
